@import "tailwindcss";

.loader {
  width: 40px;
  aspect-ratio: 2.3;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInFromLeft 0.5s ease-out;
}

.animate-slide-in-right {
  animation: slideInFromRight 0.5s ease-out;
}

/* Styles for markdown elements */
.markdown h1 {
  font-size: 24px;
  font-weight: bold;
}

.markdown ul {
  list-style-type: disc;
  margin-left: 20px;
}

.markdown ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.markdown blockquote {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  color: #666;
}

.markdown code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

/* Target the whole scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Adjust width as needed */
}

/* Target the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background-color: oklch(0.967 0.003 264.542);
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: oklch(0.21 0.006 285.885); /* Thumb color */

}

/* Optional: Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body {
  font-family: 'Work Sans', sans-serif;
}